html{
  text-align: center;
}
h1{
  color: white;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
}
.header{
  background-image: url(../images/the-flatiron-building.png);
}
.nav{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
